::selection {
  color: #ffffff;
  background: #009eff; }

input, textarea, button, a {
  outline: none; }

body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  line-height: 1.6;
  color: #5b7083;
  overflow-x: hidden;
  position: relative; }
  body strong {
    font-weight: 600; }
  body code {
    background: #14171a;
    background-size: 200% auto;
    padding: 3px 3px 2px 3px;
    border-radius: 2px;
    color: #ffffff;
    line-height: 1;
    font-weight: 600; }
  body .text-info {
    color: #009eff !important; }
  body a {
    color: inherit;
    text-decoration: none; }
  body div.docs-container div.docs-container__header {
    background: #009eff;
    padding: 10px 30px;
    background-size: 200% auto; }
    body div.docs-container div.docs-container__header div.item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center; }
      body div.docs-container div.docs-container__header div.item div.logo {
        line-height: 1; }
        body div.docs-container div.docs-container__header div.item div.logo img {
          height: 30px; }
      body div.docs-container div.docs-container__header div.item div.version {
        margin-left: 30px;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        line-height: 1; }
        body div.docs-container div.docs-container__header div.item div.version span {
          font-weight: normal; }
        @media (max-width: 1200px) {
          body div.docs-container div.docs-container__header div.item div.version {
            display: none; } }
    body div.docs-container div.docs-container__header div.author {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: flex-end;
      height: 100%; }
      body div.docs-container div.docs-container__header div.author div.name {
        margin-right: 30px;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff; }
        body div.docs-container div.docs-container__header div.author div.name span {
          font-weight: normal; }
        @media (max-width: 1200px) {
          body div.docs-container div.docs-container__header div.author div.name {
            display: none; } }
      body div.docs-container div.docs-container__header div.author div.avatar {
        flex-shrink: 0;
        width: 35px;
        height: 35px;
        overflow: hidden;
        border-radius: 40px;
        border: 1px solid rgba(255, 255, 255, 0.1); }
        body div.docs-container div.docs-container__header div.author div.avatar img {
          width: 100%;
          height: 100%; }
  body div.docs-container div.docs-container__body {
    margin: 70px 30px; }
    body div.docs-container div.docs-container__body div.docs-sidebar {
      position: sticky;
      top: 30px; }
      body div.docs-container div.docs-container__body div.docs-sidebar ul.navbar-nav li.nav-item a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 15px 25px;
        align-items: center; }
        body div.docs-container div.docs-container__body div.docs-sidebar ul.navbar-nav li.nav-item a span.icon {
          width: 24px;
          height: 24px;
          flex-shrink: 0;
          line-height: 1; }
          body div.docs-container div.docs-container__body div.docs-sidebar ul.navbar-nav li.nav-item a span.icon svg {
            width: 100%;
            height: 100%;
            fill: #5b7083; }
        body div.docs-container div.docs-container__body div.docs-sidebar ul.navbar-nav li.nav-item a span.text {
          color: #5b7083;
          font-weight: 500;
          font-size: 15px;
          line-height: 1;
          margin-left: 15px; }
        body div.docs-container div.docs-container__body div.docs-sidebar ul.navbar-nav li.nav-item a:hover, body div.docs-container div.docs-container__body div.docs-sidebar ul.navbar-nav li.nav-item a:active {
          color: #009eff; }
        body div.docs-container div.docs-container__body div.docs-sidebar ul.navbar-nav li.nav-item a.active {
          position: relative; }
          body div.docs-container div.docs-container__body div.docs-sidebar ul.navbar-nav li.nav-item a.active::before {
            position: absolute;
            height: 100%;
            content: "";
            background: #009eff;
            width: 4px;
            top: 0px;
            left: 0px; }
          @media (max-width: 1200px) {
            body div.docs-container div.docs-container__body div.docs-sidebar ul.navbar-nav li.nav-item a.active {
              background: #14171a; }
              body div.docs-container div.docs-container__body div.docs-sidebar ul.navbar-nav li.nav-item a.active::before {
                display: none; }
              body div.docs-container div.docs-container__body div.docs-sidebar ul.navbar-nav li.nav-item a.active span.icon svg {
                fill: #ffffff; }
              body div.docs-container div.docs-container__body div.docs-sidebar ul.navbar-nav li.nav-item a.active span.text {
                color: #ffffff; } }
      @media (max-width: 1200px) {
        body div.docs-container div.docs-container__body div.docs-sidebar {
          position: static;
          margin-bottom: 30px;
          background: #f0f2f5;
          padding: 20px; } }
    body div.docs-container div.docs-container__body section.docs-section {
      margin-left: 30px;
      margin-bottom: 50px;
      padding-bottom: 50px;
      border-bottom: 1px solid #e4eaef; }
      @media (max-width: 1200px) {
        body div.docs-container div.docs-container__body section.docs-section {
          margin-left: 0px; } }
      body div.docs-container div.docs-container__body section.docs-section div.docs-section__header {
        margin-bottom: 20px; }
        body div.docs-container div.docs-container__body section.docs-section div.docs-section__header h1 {
          font-size: 32px;
          font-weight: 600;
          color: #14171a; }
      body div.docs-container div.docs-container__body section.docs-section div.docs-section__body {
        overflow: hidden; }
        body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.item-intro {
          padding: 30px;
          background: #f0f2f5;
          border-radius: 3px;
          margin-bottom: 30px; }
          body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.item-intro ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            user-select: none; }
            body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.item-intro ul li {
              margin-bottom: 10px;
              font-size: 14px;
              color: #14171a; }
              body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.item-intro ul li strong {
                font-weight: 600;
                color: #5b7083; }
              body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.item-intro ul li:last-child {
                margin-bottom: 0px; }
        body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.text-block {
          margin-bottom: 30px; }
          body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.text-block h4 {
            font-size: 20px;
            font-weight: 600; }
          body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.text-block h5 {
            font-size: 16px;
            font-weight: 600; }
          body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.text-block h6 {
            font-size: 14px;
            font-weight: 600; }
          body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.text-block p {
            font-size: 15px;
            line-height: 1.6; }
            body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.text-block p a {
              color: #007aff;
              font-weight: 500; }
            body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.text-block p.blod-500 {
              font-weight: 500; }
          body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.text-block ol li {
            font-size: 15px;
            margin-bottom: 10px;
            color: #14171a;
            font-weight: 500; }
            body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.text-block ol li:last-child {
              margin-bottom: 0px; }
            body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.text-block ol li b, body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.text-block ol li strong {
              font-weight: 600; }
            body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.text-block ol li a {
              color: #009eff; }
          body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.text-block.no-mb {
            margin-bottom: 0px; }
        body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.image-block {
          margin-bottom: 30px;
          overflow: hidden;
          border-radius: 3px;
          border: 2px solid #e4eaef; }
          body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.image-block img {
            width: 100%; }
          body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.image-block.no-mb {
            margin-bottom: 0px; }
        body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.table-block {
          margin-bottom: 30px;
          max-height: 500px;
          overflow-x: hidden;
          overflow-y: auto; }
          body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.table-block table.table thead th {
            text-transform: uppercase;
            border-bottom: 1px solid #e4eaef;
            font-size: 13px;
            font-weight: 600;
            padding: 15px 30px;
            color: #5b7083; }
          body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.table-block table.table tbody tr td {
            padding: 15px 30px;
            border-bottom: 1px solid #e4eaef;
            color: #5b7083;
            font-size: 14px; }
            body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.table-block table.table tbody tr td a {
              font-weight: 500;
              color: #007aff; }
        body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.code-block {
          margin-bottom: 30px;
          overflow: hidden;
          border-radius: 3px; }
          body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.code-block code.d-block {
            padding: 15px;
            background: #14171a;
            color: #ffffff;
            line-height: 1.6; }
        body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block {
          margin-bottom: 30px; }
          body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item {
            border: 2px solid #e4eaef;
            border-bottom: none; }
            body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item:last-child {
              border-bottom: 2px solid #e4eaef; }
            body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item h2.accordion-header button.accordion-button {
              box-shadow: none;
              color: #14171a;
              font-size: 16px;
              font-weight: 500;
              padding-top: 25px;
              padding-bottom: 25px; }
              body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item h2.accordion-header button.accordion-button strong {
                color: #5b7083;
                font-weight: 600;
                margin-right: 5px; }
              body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item h2.accordion-header button.accordion-button:active, body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item h2.accordion-header button.accordion-button:focus, body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item h2.accordion-header button.accordion-button:hover {
                box-shadow: none !important;
                border: none; }
              body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item h2.accordion-header button.accordion-button:not(.collapsed) {
                background: rgba(0, 158, 255, 0.1);
                color: #009eff; }
                body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item h2.accordion-header button.accordion-button:not(.collapsed) strong {
                  color: inherit; }
            body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item div.accordion-collapse div.accordion-body {
              font-size: 15px;
              color: #5b7083;
              line-height: 1.6; }
              body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item div.accordion-collapse div.accordion-body a {
                color: #009eff; }
              body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item div.accordion-collapse div.accordion-body p {
                font-size: 15px;
                line-height: 1.6; }
                body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item div.accordion-collapse div.accordion-body p a {
                  color: #007aff;
                  font-weight: 500; }
                body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item div.accordion-collapse div.accordion-body p.blod-500 {
                  font-weight: 500; }
              body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item div.accordion-collapse div.accordion-body ol li {
                font-size: 15px;
                margin-bottom: 10px;
                color: #14171a;
                font-weight: 500; }
                body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item div.accordion-collapse div.accordion-body ol li:last-child {
                  margin-bottom: 0px; }
                body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item div.accordion-collapse div.accordion-body ol li b, body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item div.accordion-collapse div.accordion-body ol li strong {
                  font-weight: 600; }
                body div.docs-container div.docs-container__body section.docs-section div.docs-section__body div.accordion-block div.accordion div.accordion-item div.accordion-collapse div.accordion-body ol li a {
                  color: #009eff; }
      body div.docs-container div.docs-container__body section.docs-section:last-child {
        margin-bottom: 0px;
        border-bottom: none; }

/*# sourceMappingURL=style.master.css.map */
